.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  overflow: auto;
  left: 0;
  border-right: 0.2px solid rgb(44, 45, 46);
  height: 100vh;
  z-index: 999;
  background: #313342;
  color: #fff;
  transition: all 0.3s;
  .darken {
    background-color: #003952;
  }
  &.active {
    margin-left: -250px;
  }
  .sidebar-header {
    border-bottom: 0.2px solid #555;
    padding: 0.5rem;
    img {
      height: 52px;
    }
  }

  .nav-item {
    .nav-link {
      color: #ffffff;
      padding: 0.9rem;
      font-size: 1rem;
      svg {
        margin-right: 1rem;
      }
      &.active {
        border-left: 3px solid #901E78 ;
        background: #621452 !important;
      }
    }
    &:hover {
        border-left: 3px solid #901E78 ;
        color: #901E78  !important;
      }
  }
}
.sec-color {
  color: #901E78 ;
  font-style: italic;
  text-decoration: underline;
  font-size: 100;
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -250px;
    &.active {
      margin-left: 0;
    }
  }
}
